PORT=3000
DB_CONNECTION=mongodb://localhost:27017/eureka
DOMAIN_BASE=http://localhost:3000
TOKEN_SECRET=change-me
TOKEN_EXPIRATION=1h
REFRESH_TOKEN_EXPIRATION=7d
GEMINI_API_KEY=
GOOGLE_CLOUD_VISION_API_KEY=
GOOGLE_CLIENT_ID=
